.hero-unit
  %h1 Welcome to the Clan!
  %p We are dedicated to keepin' it fresh. Clash on!
  %p
    %a.btn.btn-primary.btn-large{:href => "#"} Learn more »
.row
  .span4
    %h2 
      = image_tag "clan_logo_trans.png"
      Most Trophies
    %p Top five clan mates with the most number of trophies!
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2
      = image_tag "clan_logo_trans.png"
      Highest Levels
    %p Top five clan mates with the highest levels!
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2
      = image_tag "clan_logo_trans.png"
      Top Donations
    %p Top five clan mates with the most number of donations given!
    %p
      %a.btn{:href => "#"} View details »

