!!!html
%head
  %title= @sleep ? "YES" : "NO"
%body
  %div{ :style => "text-align: center; margin-top: 150px;" }
    - if @sleep
      %h1{ :style => "font-family: Arial, Verdana; font-size: 200px;" } YES
    - else
      %h1{ :style => "font-family: Arial, Verdana; font-size: 200px;" } NO
      %p (you're not my real mom)
